@font-face {
  font-family: 'Large';
  src: url('../public/assets/fonts/Large-Roman.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Large-Italic';
  src: url('../public/assets/fonts/Large-Italic.otf') format('opentype');
  font-style: italic;
  font-weight: normal;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

